gameserver/data/static_data/housing/house_items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  - This file is part of Neon-Eleanor project
  -
  - This is proprietary software. See the EULA file distributed with
  - this project for additional information regarding copyright ownership.
  -
  - Copyright (c) 2011-2013, Neon-Eleanor Team. All rights reserved.
-->
<!-- @hex1r0 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHAIR"/>
      <xs:enumeration value="MAILBOX"/>
      <xs:enumeration value="STORAGE"/>
      <xs:enumeration value="NPC"/>
      <xs:enumeration value="PICTURE"/>
      <xs:enumeration value="USABLE"/>
      <xs:enumeration value="JUKE_BOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="item">
    <xs:complexType>
      <xs:attribute type="xs:int" name="id" use="required"/>
      <xs:attribute type="xs:int" name="dscId" use="required"/>
      <xs:attribute type="Type" name="type" use="optional"/>
      <xs:attribute type="xs:int" name="lifetime" use="optional"/>
      <xs:attribute type="xs:short" name="warmup" use="optional"/>
      <xs:attribute type="xs:short" name="cooldown" use="optional"/>
      <xs:attribute type="xs:short" name="usages" use="optional"/>
      <xs:attribute type="xs:byte" name="daily" use="optional"/>
      <xs:attribute type="xs:byte" name="storageId" use="optional"/>
      <xs:attribute type="xs:int" name="npcId" use="optional"/>
      <xs:attribute type="xs:int" name="consumeItemId" use="optional"/>
      <xs:attribute type="xs:byte" name="consumeCount" use="optional"/>
      <xs:attribute type="xs:int" name="equippedItemId" use="optional"/>
      <xs:attribute type="xs:int" name="rewardId" use="optional"/>
      <xs:attribute type="xs:int" name="finalRewardId" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>